//
    _______________________________________________________
    @TEMPLATE NAME : navBar
    @PACKAGE : #{projectName}
    @SUPPORT : <https://twitter.com/inset_>
    _______________________________________________________
    CREATED ON : 2018-08-24 22:50:57
    GMT+0530 (India Standard Time)
    CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
    _______________________________________________________
//  


// NAVIGATION BAR STRARING : TOP 01
section.mdc-theme--primary-bg.tst
    nav.navbar.navbar-expand-lg
        .col.col-md-3.tst
            h3.m-0.color-primary-light--9.tst oSeed v1.0.0
        button.navbar-toggler.mdc-button.drawer-mdc
            i.fas.fa-bars
        #navbarSupportedContent.collapse.navbar-collapse
            .container
                .row.tst
                    .col-md-8.tst
                        .formWrapper.tst
                            include nav-search.pug
                    .col-md-4.tst
                        ul.navbar-nav.mr-auto.float-right#userProfileActions.tst
                            // notigication
                            li.btns.mdc-button.ico
                                i.fas.fa-bell.color-primary-light--9 
                                span.badge.badge-warning 05
                            //profile - img
                            li.px-1.img-icon.tst
                                img.rounded#userProfileImg(data-src="holder.js/35x35?text=64x", alt="", srcset="")
                            // mdc-drawer : btn
                            li.mdc-button.drawer-mdc.color-primary-light--9 
                                i.fas.fa-bars
// NAVIGATION BAR [ENDS] : TOP 01