//
    _______________________________________________________
    @TEMPLATE NAME : WELLCOME MSG
    @PACKAGE : #{projectName}
    @SUPPORT : <https://twitter.com/inset_>
    _______________________________________________________
    CREATED ON : 2018-08-15 20:07:07
    GMT+0530 (India Standard Time)
    CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
    _______________________________________________________
//

section.h-em-2

section
    .container
        section.tst
            header
                img.w-100.h-100(data-src="holder.js/900x300", alt="")
            footer.p-3
                .container
                    .row
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .btns.btns-primary.w-100 hi
                                                .col
                                                    .btns.btns-primary-light.w-100 hi
                                    
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .btns.btns-secondary.w-100 hi
                                                .col
                                                    .btns.btns-secondary-light.w-100 hi
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .btns.mdc-button.w-100 hi
            footer.p-3
                .container
                    .row
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .btns.btns-primary.w-100.btns-rounded hi
                                                .col
                                                    .btns.btns-primary-light.btns-rounded.w-100 hi
                                    
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .btns.btns-secondary.btns-rounded.w-100 hi
                                                .col
                                                    .btns.btns-secondary-light.btns-rounded.w-100 hi
                        .col.tst
                            section.tst.mdc-card
                                header
                                    img.w-100(data-src="holder.js/250x80", alt="")
                                footer.p-3
                                    header
                                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, minus!
                                    footer
                                        .container
                                            .row
                                                .col
                                                    .mdc-button.btns-rounded.w-100 hi
            
            p.text-center &copy;inSeed - bootstrap#4 | 2030-2035