

section#navSearchBox_root
    header
        form(action="#")
            .fG
                input.form-control.form-control-sm(type="text", placeholder="finder" value="findit")
    footer
        #display_root
            #showThisTemplate.w-100
                .mdc-card.my-2.d-none#navSearchBox_responceDisplay.p-3
                        #navSearchBox_hint please type something to search