meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

//VENDOR STYLES :
link(rel="stylesheet", href="/libs/vendor/css/bootstrap.min.css")
link(rel="stylesheet", href="/libs/vendor/fonts/fontawesome-free/css/all.min.css")
//CUSTOM STYLES :
link(rel="stylesheet", href="/libs/inseed.css")

//JS FILES ( VENDOR )
script(src="/libs/vendor/js/jquery.min.js")

title  #{projectName} - #{tagLine}